/* Dropdown Menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-secondary);
    min-width: 220px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    top: 100%;
    left: 0;
    flex-direction: column;
    gap: 0;

}

.dropdown ul {
    display: none;
}

.dropdown.active ul {
    display: block;
}

.dropdown-content li {
    width: 100%;
    list-style: none;
    display: none;
}

.dropdown-content a {
    color: var(--text-secondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.dropdown-content a:hover {
    border-radius: 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dropdown.active .dropdown-content li {
    display: block;
}

.dropbtn {
    cursor: pointer;
}